*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.aboutBlock{
     padding-top: 60px;
     padding-bottom: 110px;
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
     text-align: center;
    background: #f5f5f5;
 }
.aboutBlock p{
    max-width: 850px;
    font-size: 20px;

}


#responsive-menu {
    text-transform: uppercase;
    font-family: 'Cormorant';
    font-size: 18px;
    font-weight: 400;
}

/*ЗАГОЛОВОК БЛОКА*/
.header {
    background-color: #33383B;
    text-align: center;
    height: 51px;
    padding: 1px;
    text-transform: uppercase;
    color: #ffffff;
}
.blockItem h1{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Cormorant';
    font-size: 30px;
}

/*БЛОК НОВОСТЕЙ - НАЧАЛО*/
.mainArticlesModule h2 {
    color: #2d547d;
    text-transform: uppercase;
    font-family: 'Cormorant';
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5px;
    display: block;
}
.mainArticlesModule {
    padding-top: 25px;
}

.blockItem {
    position: relative;
}

.block {
    max-width: 960px;
    margin: 0 auto;
}

.articlesSection {
    box-shadow: 0px 0px 15px -5px #000000;
    position: relative;
}


@media only screen and (max-width: 1200px){
    .blockItem{ margin: 0px 20px;}
    header, header .block{height: 200px;}
}

@media only screen and (max-width: 991px) {
    .blockItem{ margin: 0px;}
    .block{padding: 0px;}
    .articlesSection .blockItem{margin: 0px 40px;}
    .articlesSection .mainArticlesModule .avatar{width: 110px;}
    .articlesSection .mainArticlesModule .itemsLeft .text{ margin-right: 125px; height: inherit}
    .articlesSection .mainArticlesModule .itemsRight .text{margin-left: 125px; height: inherit}
    .body .blockItem{margin: 0px 60px;}
    .body .blogItems .item{width: 100%;}
}
@media only screen and (max-width: 767px) {
    .articlesSection .blockItem{margin: 0px 30px;}
    .articlesSection .header h1{font-size: 125%;line-height: 25px;}
    .articlesSection .mainArticlesModule .itemsLeft{width: 100%; max-width: none; padding: 0px;}
    .articlesSection .mainArticlesModule .itemsRight{width: 100%; float: left;max-width: none;padding: 0px;}
    .articlesSection .mainArticlesModule .itemsLeft .avatar{ float: left;}
    .articlesSection .mainArticlesModule .itemsLeft .text{ margin:0px 0px 0px 125px; text-align: left; height: auto}
    .body .blockItem{margin: 0px 30px;}
}
@media only screen and (max-width: 400px) {
    .articlesSection .blockItem{margin: 0px 20px;}
    .articlesSection .mainArticlesModule .avatar{ float: none; text-align: center;}
    .articlesSection .mainArticlesModule .avatar img{width: 140px; margin-bottom: 8px;}
    .articlesSection .mainArticlesModule .itemsLeft .text{ margin-left:0px; height: auto}
    .articlesSection .mainArticlesModule .itemsRight .text{margin-left:0px; height: auto}
    .body .blockItem{margin: 0px 20px;}
}

.articlesSection .mainArticlesModule .avatar img {
    width: 100%;
}
/*БЛОК НОВОСТЕЙ - КОНЕЦ*/

.item > h1 {
    position: absolute;
    top		: 450px;
    left		: 50px;
    width		: 100%;
}

h1 span {
    color: white;
    font-size: 34px;
    font-weight: 500;
    font-family: 'Cormorant';
    background		: rgba(0, 0, 0, 0.7);
    padding			: 3px;
}

h1 span.spacer {
    padding	: 0 5px;
}

label.error {
    font-size: 10px;
    display: block;
    margin-top: 5px;
    color: #cc0000;
}







/*.calc{
    padding-top: 86px;
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

}
.calc_stats{
    font-size: 1.8rem;
}
.calc_stats input,select{
    margin-top: 15px;
    border: none;
    box-shadow: 0px 0px 40.10px 0.02px rgba(0,0,0,0.15);
    text-align: center;
}*/



.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 15px 10px;

}



@media (max-height: 800px) {
    footer {
        position: static;
    }
}
.footer-distributed .footer-left {
    width: 40%;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cormorant', cursive;
    margin: 0;
}
.footer-distributed h3 span {
    color: #5383d3;
}
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-center {
    width: 35%;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-right {
    width: 20%;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-icons {
    margin-top: 25px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}



hr {border-top: 1px solid #fff; width:50%;}
a {color: #fff;}
a:link{text-decoration:none;}


.cc_service{
    background:#f5f5f5;
    padding-top: 59px;
    padding-bottom: 120px;
}
.service_section{
    position:relative;
    text-align:center;
    background:#fff;
    overflow:hidden;
    min-height:321px;
    padding:90px 30px 30px;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}

.service_top{
    position: absolute;
    top: -50px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    width: 130px;
    height: 120px;
    background: #33383b;
    text-align: center;
    line-height: 160px;
    border-radius: 100%;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}
.service_top img:before{
    font-size:32px;
    margin-left:0;
}
.service_section:hover .service_top{
    border-radius:0px;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
    border:2px solid rgba(255,255,255,0.2);
}

.service_section h3{
    font-size:20px;
    text-transform: capitalize;
    font-weight:500;
    line-height:24px;
    color:#252323;
    margin-bottom:15px;
}
.service_section p{
    margin-bottom: 30px;
}



.service_section:before{
    position:absolute;
    content:"";
    top:0;
    right:50%;
    width:0;
    height:2px;
    background:#33383b;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}
.service_section:after{
    position:absolute;
    content:"";
    top:0;
    left:50%;
    width:0;
    height:2px;
    background:#33383b;
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}
.service_section:hover:before , .service_section:hover:after{
    width:50%;
    -webkit-transition-delay:.3s;
    -moz-transition-delay:.3s;
    -ms-transition-delay:.3s;
    -o-transition-delay:.3s;
    transition-delay:.3s;
}