*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*МЕНЮ НАВИГАЦИИ*/
#responsive-menu {
    text-transform: uppercase;
    font-family: 'Cormorant';
    font-size: 18px;
    font-weight: 400;
}

/*ЗАГОЛОВОК БЛОКА*/
.header {
    background-color: #33383B;
    text-align: center;
    height: 51px;
    padding: 1px;
    text-transform: uppercase;
    color: #ffffff;
}
.blockItem h1{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Cormorant';
    font-size: 30px;
}

/*БЛОК НОВОСТЕЙ - НАЧАЛО*/
.mainArticlesModule h2 {
    color: #2d547d;
    text-transform: uppercase;
    font-family: 'Cormorant';
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5px;
    display: block;
}

.itemsLeft .text {
    text-align: right;
    margin-right: 155px;
}

.mainArticlesModule .itemsLeft .avatar {
    float: right;
}

.mainArticlesModule .itemsLeft {
    float: left;
    max-width: 470px;
    width: 50%;
    padding-right: 10px;
}

.mainArticlesModule .itemsRight {
    float: right;
    max-width: 470px;
    width: 50%;
    padding-left: 10px;
}

.mainArticlesModule .item {
    margin-bottom: 25px;
    position: relative;
    height: auto;
    overflow: hidden;
}

.mainArticlesModule .itemsRight .text {
    text-align: left;
    margin-left: 155px;
}

.mainArticlesModule .itemsRight .avatar {
    float: left;
}

.clr {
    clear: both;
}

.mainArticlesModule .text {
    font-size: 14px;
    line-height: 19px;
}

.mainArticlesModule {
    padding-top: 25px;
}

.blockItem {
    position: relative;
}

.block {
    max-width: 960px;
    margin: 0 auto;
}

.articlesSection {
    box-shadow: 0px 0px 15px -5px #000000;
    position: relative;
}


@media only screen and (max-width: 1200px){
    .blockItem{ margin: 0px 20px;}
    header, header .block{height: 200px;}
}

@media only screen and (max-width: 991px) {
    .blockItem{ margin: 0px;}
    .block{padding: 0px;}
    .articlesSection .blockItem{margin: 0px 40px;}
    .articlesSection .mainArticlesModule .avatar{width: 110px;}
    .articlesSection .mainArticlesModule .itemsLeft .text{ margin-right: 125px; height: inherit}
    .articlesSection .mainArticlesModule .itemsRight .text{margin-left: 125px; height: inherit}
    .body .blockItem{margin: 0px 60px;}
    .body .blogItems .item{width: 100%;}
}
@media only screen and (max-width: 767px) {
    .articlesSection .blockItem{margin: 0px 30px;}
    .articlesSection .header h1{font-size: 20px;line-height: 25px;}
    .articlesSection .mainArticlesModule .itemsLeft{width: 100%; max-width: none; padding: 0px;}
    .articlesSection .mainArticlesModule .itemsRight{width: 100%; float: left;max-width: none;padding: 0px;}
    .articlesSection .mainArticlesModule .itemsLeft .avatar{ float: left;}
    .articlesSection .mainArticlesModule .itemsLeft .text{ margin:0px 0px 0px 125px; text-align: left; height: auto}
    .body .blockItem{margin: 0px 30px;}
}
@media only screen and (max-width: 400px) {
    .articlesSection .blockItem{margin: 0px 20px;}
    .articlesSection .mainArticlesModule .avatar{ float: none; text-align: center;}
    .articlesSection .mainArticlesModule .avatar img{width: 140px; margin-bottom: 8px;}
    .articlesSection .mainArticlesModule .itemsLeft .text{ margin-left:0px; height: auto}
    .articlesSection .mainArticlesModule .itemsRight .text{margin-left:0px; height: auto}
    .body .blockItem{margin: 0px 20px;}
}

.articlesSection .mainArticlesModule .avatar img {
    width: 100%;
}
/*БЛОК НОВОСТЕЙ - КОНЕЦ*/

.item > h1 {
    position: absolute;
    top		: 450px;
    left		: 50px;
    width		: 100%;
}

h1 span {
    color			: white;
    font-size: 34px;
    font-weight: 500;
    font-family: 'Cormorant';
    background		: rgba(0, 0, 0, 0.7);
    padding			: 3px;
}

h1 span.spacer {
    padding	: 0 5px;
}

label.error {
    font-size: 10px;
    display: block;
    margin-top: 5px;
    color: #cc0000;
}



.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 15px 10px;
    margin-top: 80px;
}
@media (max-height: 800px) {
    footer {
        position: static;
    }
}
.footer-distributed .footer-left {
    width: 40%;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cormorant', cursive;
    margin: 0;
}
.footer-distributed h3 span {
    color: #5383d3;
}
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-center {
    width: 35%;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-right {
    width: 20%;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-icons {
    margin-top: 25px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


